# ignore vscode file
.vscode

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
skadi

# ignore test artifacts
internal/**/*.test
external/**/*.test
utils/**/*.test

# whitelist for skadi
!datasources/**

# ignore test env values
.env.test

# ignore local scripts
script/docker/**

*.DS_Store